html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: Muli, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Set your content font stack here: */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.04em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #3d92c9;
}
a:hover,
a:focus {
  text-decoration: underline;
}
/* LAYOUT CSS */
.sidebar {
  background: #3d4f5d;
  color: #fff;
}
.sidebar .header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}
.sidebar .header .brand-title,
.sidebar .header .brand-tagline {
  margin: 0;
}
.sidebar .header .brand-title {
  text-transform: uppercase;
}
.sidebar .header h1.brand-title {
  font-size: 10vw;
  font-weight: 100;
}
.sidebar .header .brand-tagline {
  font-weight: 300;
  color: #b0cadb;
}
.sidebar .header .nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .header .nav-list .nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.sidebar .header .nav-list .nav-item a {
  background: transparent;
  border: 2px solid #b0cadb;
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.sidebar .header .nav-list .nav-item a:hover,
.sidebar .header .nav-list .nav-item a:focus {
  border: 2px solid #3d92c9;
  text-decoration: none;
}
.content {
  padding: 2em 1em 0;
}
.content-subhead {
  text-transform: uppercase;
  color: #777;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}
section {
  padding-bottom: 2em;
}
section header .section-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
section header .avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
section header .description {
  /*font-family: Georgia, "Cambria", serif;*/
  color: #444;
  line-height: 1.8em;
}
section header .meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}
.tag {
  margin: 0 0.1em;
  padding: 0.2em 1em;
  color: #fff;
  background: #999;
  font-size: 90%;
  font-family: Lato, sans-serif;
  font-weight: 700;
  letter-spacing: .1em;
}
.tag.tag-dotnet {
  background: #68217a;
}
.tag.tag-design {
  background: #5aba59;
}
.tag.tag-js {
  background: #F0DB4F;
  color: #444;
}
.tag.tag-azure {
  background: #00abec;
}
.post-images {
  margin: 1em 0;
}
.post-images .post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}
.footer {
  text-align: center;
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .sidebar .header {
    margin: 80% 2em 0;
    text-align: right;
  }
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
}
